﻿@model WebApplicationWithJQuery.Models.Student
@{
    ViewBag.Title = "Indexnew";
}

<h2>Indexnew</h2>
@using (Ajax.BeginForm("IndexnewTest", "BeginForm", new AjaxOptions() { OnSuccess = "BG", OnFailure = "FG", HttpMethod = "Post" }))
{

    @Html.EditorFor(model => model.id)
    <br />
    @Html.EditorFor(model => model.Name)
    <br />
    @Html.EditorFor(model => model.Subject)
    <br />
    <button type="submit" >Submit</button>

}
<script>
    function BG(data) {
        debugger
        //console.log(data)
        alert("hello from Bg")

    }
    function FG(error) {
        debugger
        Windows.alert("Hello from FG")

    }
</script>



