﻿<head>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>

</head>
@if (User.IsInRole("Admin"))
{
    @Html.Partial("Display")
}
else
{
    @Html.Partial("UserPartialView")
}
<div class="row">
    <div class="col-sm-4">
        @using (Html.BeginForm("Save", "ReturnsTable", FormMethod.Post))
        {
            <div>
                <h3>
                    Return  Book To Library
                </h3>
                <div class="form-group">
                    <label>Member Id</label>
                    <input type="text" id="Mid" name="Mid" class="form-control" placeholder="Member Id" required />

                </div>
                <div class="form-group">
                    <label>Member Name</label>
                    <input type="text" id="MemberName" name="MemberName" class="form-control" placeholder="Member Name" required />

                </div>
                <div class="form-group">
                    <label>Book</label>
                    <input type="text" id="Book" name="Book" class="form-control" placeholder=" BookName " required />

                </div>

                <div class="form-group">
                    <label>Return Date</label>
                    <input type="text" id="ReturnDate" name="ReturnDate" class="form-control" placeholder="Return Date" required />

                </div>
                
                <div class="form-group">
                    <label>ExtraDays</label>
                    <input type="text" id="ExtraDays" name="ExtraDays" class="form-control" placeholder="Return Date" required />

                </div>
                <div class="form-group">
                    <label>Fine </label>
                    <input type="text" id="Fine" name="Fine" class="form-control" placeholder="Return Date" required />

                </div>
                <input type="submit" value="Save" class="btn btn-success" />

            </div>
        }

    </div>
</div>

<script>
    Getmid();


    function Getmid() {
        $("#Mid").keyup(function (obj) {
            $.ajax({
                type: 'post',
                url: '/ReturnsTable/Getmid?id=' + $("#Mid").val(),
                dataType: 'JSON',
                success: function (data) {

                    $("#MemberName").val(data);
                    GetReturn();


                }
            });
        });
    }
    function GetReturn() {

        $.ajax({
            type: 'Get',
            url: '/ReturnsTable/GetReturn?id=' + $("#Mid").val(),
            dataType: 'JSON',
            success: function (data) {
                console.log(data)
                $("#Book").val(data[0].BookName);
                $("#ReturnDate").val(new Date(parseInt(data[0].ReturnDate.substr(6))).toLocaleDateString());
                var ExtraDays = data[0].Extra;
                if (ExtraDays > 0) {
                    var fine = ExtraDays * 50;
                    $("#ExtraDays").val(ExtraDays)
                    $("#Fine").val(fine.toString());
                }
                else {
                    $("#Fine").val("0");

                    $("#ExtraDays").val("0");
                }

            }
        });

    }


</script>


