﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FilterApp</title>
</head>
<body>
    <div> 
        <h1> Hello from index</h1>
        <h2> Date time is @DateTime.Now</h2>
</div>
</body>
</html>
