﻿
@{
    ViewBag.Title = "AdminDisplay";
}


<head>
    <link href="~/StyleSheet3.css" rel="stylesheet" type="text/css" media="all">
</head>

<h2 style=" text-align: center;  font-family: Cormorant SC, serif;">HomeDisplay</h2>
<div class="Display-img"></div>
<br />
<br />
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Author", "Index", "Authors", null, new { @class = "viewing" })</li>
                <li>@Html.ActionLink("Publisher", "Index", "Publishers", null, new { @class = "viewing" })</li>
                <li>@Html.ActionLink("Category", "Index", "BookCategories", null, new { @class = "viewing" })</li>
                <li>@Html.ActionLink("BookTable", "Index", "BookTables", null, new { @class = "viewing" })</li>
                <li>@Html.ActionLink("ReturnTable", "Index", "ReturnsTable", null, new { @class = "viewing" })</li>
                <li>@Html.ActionLink("IssueBook", "Index", "IssueBook", null, new { @class = "viewing" })</li>
                <li>@Html.ActionLink("Member", "Index", "Members", null, new { @class = "viewing" })</li>
                <li>@Html.ActionLink("AddUser", "SignUp", "Account", null, new { @class = "viewing" })</li>
                <li>@Html.ActionLink("Users", "Index", "AuthorizedUsers", null, new { @class = "viewing" })</li>
                <li>@Html.ActionLink("About", "About", "Account", null, new { @class = "viewing" })</li>



            </ul>
        </div>


    </ul>
</div>

