﻿
<head>
    <link href="~/StyleSheet3.css" rel="stylesheet" type="text/css" media="all">
</head>
<h2 style=" text-align: center;  font-family: Cormorant SC, serif;">Display</h2>
<div class="Display-img"></div>
<br />
<br />
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

                <li>@Html.ActionLink("Author", "Index", "Authors", null, new { @class = "viewing" })</li>
                <li>@Html.ActionLink("Publisher", "Index", "Publishers", null, new { @class = "viewing" })</li>
                <li>@Html.ActionLink("Books", "Index", "BookTables", null, new { @class = "viewing" })</li>


                <li>@Html.ActionLink("Member", "Index", "Members", null, new { @class = "viewing" })</li>
                <li>@Html.ActionLink("About", "About", "Account", null, new { @class = "viewing" })</li>




            </ul>
        </div>


    </ul>
