﻿@model RoutingApplication.Models.Addres

@{
    ViewBag.Title = "GetAddress";
}

<h2>GetAddress</h2>

<div>
    <h4>Addres</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Housenum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Housenum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
