﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a  style="font-family: Cormorant SC, serif;font-weight:bold">Library Management System</a></li>
                    @if (User.Identity.IsAuthenticated)// Fuction to check if authorized or not
                    {
                        <li><a  style="font-family: Cormorant SC, serif;font-weight:bold">Welcome-@User.Identity.Name</a></li>
                        <li>
                            @Html.ActionLink("LogOut", "LogOut", "Account", null, new{ @style = "font-family: Cormorant SC, serif;font-weight:bold;"})

                        </li>

                    }

                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()

        <hr />

        @if (User.Identity.IsAuthenticated)
        { 
            <footer>
                <div style="margin-bottom:10mm" class="header-img"></div>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                <p></p>
            </footer>
            }
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>