﻿@model PartialView.Models.Customer

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Editor</title>
</head>
<body>
    <div>
        @Html.DisplayName("Name") // string property can be passed
        <br />
        @Html.DisplayText("Name")
        <br />
        @Html.DisplayNameFor(p => p.Name)-@Html.EditorFor(p => p.Name)
        <br />
        @Html.DisplayNameFor(p => p.BuyTime)-@Html.EditorFor(p => p.BuyTime) // Automatically add the datatype property
        <br />
        @CustomHelpers.Images(@"C:\Users\daffodil\source\repos\PartialView\Images\Oppo.jpg", "this is The Attribute image")

    </div>
</body>
</html>
