﻿@model List<PartialView.Models.Product>
@{
    ViewBag.Title = "Smartphone";
}

<h2 align="center">Products Catalogue</h2>
@foreach (var i  in Model)
{
    @Html.Partial("Prototype",i)// render partial view (calling prototype by passsing Partial view name and passs data item
}

