﻿@model PartialView.Models.Product
    <table border="2"  align="center">
        <tr>
            <td>
                <img src='@Url.Content(Model.Image)' width="="200" height="200" />
            </td>
            <td>
                <table frame="box" border="1" rules="all" all="center">
                    <tr>
                        <td>
                           Product: @Model.Name
                        </td>
                        <td>
                            Price: @Model.Price
                        </td>
                    </tr>
                    

                </table>



            </td>
        </tr>
    </table>
