﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>@ViewData["name"]</p>
<ol>
    @{ foreach(var item in (List<string>) ViewData["products"])
       {
        <li>@item</li>
        
        }

    }
</ol>