﻿<head>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>

</head>
@if (User.IsInRole("Admin"))
{
    @Html.Partial("Display")
}
else
{
    @Html.Partial("UserPartialView")
}
<div class="row">
    <div class="col-sm-4">
        @using (Html.BeginForm("Save", "IssueBook", FormMethod.Post))
        {
            <div>
                <h3>
                    Issue  Book From Library
                </h3>
                <div class="form-group">
                    <label>Member Id</label>
                    <input type="text" id="MemberId" name="MemberId" class="form-control" placeholder="Member Id" required />

                </div>
                <div class="form-group">
                    <label>Member Name</label>
                    <input type="text" id="MemberName" name="MemberName" class="form-control" placeholder="Member Name" required />

                </div>
                <div class="form-group">
                    <label>Books</label>
                    <select class="form-control" id="BookId" name="BookId" placeholder="Select Book" required>
                        <option>Select</option>
                    </select>



                </div>
                <div class="form-group">
                    <label>Issue Date</label>
                    <input type="date" id="IDate" name="IDate" class="form-control" placeholder="Issue Date" required />

                </div>
                <div class="form-group">
                    <label>Return Date</label>
                    <input type="date" id="Rdate" name="RDate" class="form-control" placeholder="Return Date" required />

                </div>
                <input type="submit" value="Save" class="btn btn-success" />

            </div>
        }

    </div>
</div>

<script>
    Getmid();
    GetBooks();
    function Getmid() {
        $("#MemberId").keyup(function (obj) {
            $.ajax({
                type: 'post',
                url: '/IssueBook/Getmid?id=' + $("#MemberId").val(),
                dataType: 'JSON',
                success: function (data) {

                    $("#MemberName").val(data);


                }
            });
        });
    }
    function GetBooks() {

        $.ajax({
            type: 'Get',
            url: '/IssueBook/GetBooks',
            dataType: 'JSON',
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    console.log(data);
                    $("#BookId").append($("<option/>", {
                        text: data[i].Name
                    }));


                }

            }
        });

    }


</script>


