﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-3.5.1.js"></script>
    <title>Index</title>
</head>
<body>
    <div>
        <form>
            <input type="text" id="bt1" placeholder="id" />
            <br />
            <input type="text" id="bt2" placeholder="Name" />
            <br />
            <input type="text" id="bt3" placeholder="Subject" />
            <br />
            <input type="button" onclick="FormSubmit()" value="SendData" />
        </form>
    </div>



</body>
</html>
<script>
    function FormSubmit() {
       
                
                var Ids = $("#bt1").val();
                var names = $("#bt2").val();
                var subjects =$("#bt3").val();
                var obj = {
                    id:Ids,
                    Name:names,
                    Subject:subjects
                }
                buttonfunc(obj);



            }
           function buttonfunc(obj) {
            $.ajax({
                url: "/Form/AddStudent",
                method: "Post",
                data:obj,
                success: function (data) {
                   
                    
                    alert(data);
                    console.log(data);
                },
                error: function (err) {
                    console.error(err);
                }
            })
        }

 </script >

