﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Movies Way<br />
    Lucknow052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="McvMoves@example.com">MVCmoves@example.com</a><br />
    <strong>Marketing:</strong> <a href="MovesMvc@example.com">MovesMvc@example.com</a>
</address>