﻿@{
    ViewBag.Title = "Mvc Movies";
}
@model WebApplication1.Models.Movie

<div>
    <div>
        <table>
            <tr>
                <td>
                    @Model.ID
                </td>

            </tr>
            <tr>
                <td>
                    @Model.Title
                </td>

            </tr>
            <tr>
                <td>
                    @Model.Genre
                </td>

            </tr>
        </table>
    </div>
</div>