﻿

.viewing {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: steelblue;
    color:antiquewhite;
    overflow-x: hidden;
    padding-top: 16px;
    text-decoration: solid;
    font-family: Cormorant SC, serif;
    font-size: large;
    border:groove;
}
.viewing1 {
    height: 100%;
    width: 200px;
    position: fixed;
    font-family: Cormorant SC, serif;
    top: 0;
    left: 0;
    background-color: lightblue;
    color: black;
    overflow-x: hidden;
    padding-top: 16px;
    text-decoration: solid;
    font-size: large;
}
.viewing3 {
    height: 100%;
    width: 200px;
    position: fixed;
    font-family: Cormorant SC, serif;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 16px;
    text-decoration: solid;
}
.viewing4 {
    height: 100%;
    width: 200px;
    position: fixed;
    font-family: Cormorant SC, serif;
    top: 0;
    left: 0;
    background-color: lightblue;
    color:black;
    overflow-x: hidden;
    padding-top: 16px;
    text-decoration: solid;
    font-size: large;
}
.viewing2 {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    font-family: Cormorant SC, serif;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 16px;
    text-decoration: solid;
    font-size:large;
}
.header-img {
    width: 100px;
    height: 100px;
    background: Url('https://as2.ftcdn.net/jpg/02/55/67/01/500_F_255670170_t8SVdQhFK6ByA84CTU70T0HvNL0h7vQq.jpg ');
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}
footer {
    text-align: center;
    padding: .5px;
     color: black;
}
.Display-img {
    width: 1100px;
    height: 243px;
    background: Url('https://www.grayson.edu/library/files/GCL-Banner-Fall-2020.jpg');
    background-size: cover;
    padding-left: 200px;
    padding-right: 200px;
    background-size: 100% 100%;
}

