﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script src="~/Scripts/jquery-3.5.1.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h3>Id-</h3>:<h3 id="btn1"></h3>
        <br />
        <h3>Name-</h3>:<h3 id="btn2"></h3>
        <br />
        <h3>Subject-</h3>:<h3 id="btn3"></h3>
    </div>
    <div> 
        <input type="button" onclick="buttonfunc()"  value="Click" />

    </div>
    <script>
        function buttonfunc() {
            $.ajax({
                url: "/Home/GetStudent",
                method: "Get",
                success: function (data) {
                    data = JSON.parse(data);
                    $("#btn1").text(data.id);
                    $("#btn2").text(data.Name);
                    $("#btn3").text(data.Subject);

                    console.log(data);
                },
                error: function (err) {
                    console.error(err);}
            })
            
        }
    </script>
</body>
</html>
