﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact</title>
</head>
<body>
    <div> 
        <h1>
            
                @ViewBag.Data
                @ViewData["var1"]
                @Session["varchar2"]
           
        </h1>
    </div>
</body>
</html>
